* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #222;
}

.hero {
    min-height: 100vh;
    padding: 30px 8%;
    background: linear-gradient(135deg, #111827, #374151);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero-content {
    margin-top: 160px;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 18px;
    line-height: 1.1;
    max-width: 720px;
}

.hero-content h3 {
    font-size: 1.35rem;
    margin-bottom: 18px;
    color: #e5e7eb;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 650px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.primary {
    background-color: white;
    color: #111827;
}

.secondary {
    border: 2px solid white;
    color: white;
}

section {
    padding: 70px 8%;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.skill-grid div, .project-card {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.skill-grid div {
    text-align: center;
    font-weight: 600;
    transition: .3s;
    cursor: default;
}

.skill-grid div:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,.15);
}

.project-card {
    margin-bottom: 20px;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card span {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #374151;
}

a {
    color: #2563eb;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #111827;
    color: white;
}

.hero-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
}

.hero-image img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 15px 35px rgba(0,0,0,.35);
}

.eyebrow {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    font-weight: bold;
    color: #c7d2fe;
    margin-bottom: 18px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.skill-category h3 {
    margin-bottom: 15px;
    color: #374151;
    font-size: 1.2rem;
}